body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: wheat;
	background: white;
}

.container {
	/*max-width: 390px;*/
}

.inner {
	display: grid;
	/*grid-template-columns: 1fr 1fr;*/
	grid-template-rows: 1000px 200px 200px;
}

.item {
	text-align: center;
	border: 10px black;
	border-radius: 1%;
	background-color: rgb(0, 100, 0);
}

.btn_m {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(0, 128, 0);
	border-radius: 10px;
	color: wheat;
	text-transform: uppercase;
	font-weight: 700;
	transition: background .2s linear;
}

.btn_m:hover {
	background: rgb(34, 139, 34);
}

.btn_v {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(0, 128, 0);
	border-radius: 10px;
	color: wheat;
	text-transform: uppercase;
	font-weight: 700;
	transition: background .2s linear;
}

.btn_v:hover {
	background: rgb(34, 139, 34);
}
